@import "../../_settings.scss";

#index.index {
	header {
		background: #fff url('/img/index/header/splash/max.jpg') right center/cover no-repeat;

		h1,
		h3 {
			text-shadow: 0 2px 2px rgba(0,0,0,0.80);
			color: #fff;
		}
	}

	.contactBar {
		box-shadow: $z-1;
		padding: rem-calc(12) 0;
		background: rgba(74,74,74,0.80);

		* {
			color: #fff;
		}
	}
}

