@import "../_settings.scss";
@import "typography/_fonts.scss";


.serif {
	font-family: 'Playfair Display SC', serif;
	letter-spacing: rem-calc(1.5);
}

.serif.bold {
	font-weight: 700;
}

.heading {
	font-weight: 900;
	letter-spacing: rem-calc(1.5);
	text-transform: uppercase;
}